#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  padding: 5px 10px;
}

.app-box {
  width: 400px;
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 8px;
}

.text-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}

.user-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 5px 15px;

}
